<div class="container d-flex justify-content-center">
    <div class="col-sm-6 mt-4">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Column</th>
                    <th scope="col">info</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Username</td>
                    <td>
                        <%-userInfo.username%>
                    </td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>UserRole</td>
                    <td>
                        <%-userInfo.userRole%>
                    </td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Name</td>
                    <td>
                        <%-userInfo.name%>
                    </td>

                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Address</td>
                    <td>
                        <%-userInfo.address%>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>